# Set default
* @aklinker1

# Secure Directories
/.github/ @aklinker1

# Creator of specific wxt modules
/packages/auto-icons/ @Timeraa
/packages/unocss/ @Timeraa

# Other Directories
/docs @aklinker1 @PatrykKuniczak
