.DS_Store
.env
.env.*
.idea
.output
.webextrc
.wxt
.wxt-runner
*.log
/docs/.vitepress/cache
docs/.vitepress/.temp
coverage
dist
node_modules
TODOs.md
wxt.runner.config.ts
templates/*/pnpm-lock.yaml
templates/*/yarn.lock
templates/*/package-lock.json
docs/api/reference
stats.html
.tool-versions
.cache
*-stats.txt
