.DS_Store
.env
.env.*
.idea
.output
.webextrc
.wxt
*.log
/.vscode/
/docs/.vitepress/cache
coverage
dist
node_modules
TODOs.md
web-ext.config.js
web-ext.config.ts
templates/*/pnpm-lock.yaml
templates/*/yarn.lock
templates/*/package-lock.json
docs/api/config.md
docs/api/cli.md
stats.html
