/* https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */
/* Colors */
:root {
  --wxt-c-green-1: #0b8a00;
  --wxt-c-green-2: #096600;
  --wxt-c-green-3: #096600;
  --wxt-c-green-soft: rgba(11, 138, 0, 0.14);

  --vp-c-brand-1: var(--wxt-c-green-1);
  --vp-c-brand-2: var(--wxt-c-green-2);
  --vp-c-brand-3: var(--wxt-c-green-3);
  --vp-c-brand-soft: var(--wxt-c-green-soft);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark {
  --wxt-c-green-1: #67d45e;
  --wxt-c-green-2: #329929;
  --wxt-c-green-3: #21651b;
  --wxt-c-green-soft: rgba(103, 212, 94, 0.14);
}

/* Customize Individual Components */
.vp-doc .no-vertical-dividers th,
.vp-doc .no-vertical-dividers td {
  border: none;
}

.vp-doc .no-vertical-dividers tr {
  border: 1px solid var(--vp-c-divider);
}

body {
  overflow-y: scroll;
}

.VPSidebarItem .badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 1.75em;
  height: 1.75em;
  border-radius: 10rem;
  font-size: 0.8em;
  margin-left: 0.25rem;
  background-color: var(--vp-c-default-2);
}

.light-netlify {
  display: inline;
}
.dark .light-netlify {
  display: none;
}
.dark-netlify {
  display: none;
}
.dark .dark-netlify {
  display: inline;
}
