/* Colors */
:root {
  --wxt-c-green: #53bc4a;
  --wxt-c-green-1: #67d45e;
  --wxt-c-green-2: #4fa048;
  --wxt-c-green-3: #447e3f;
}

/* https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */

:root {
  --vp-c-brand: var(--wxt-c-green);
  --vp-c-brand-1: var(--wxt-c-green-1);
  --vp-c-brand-2: var(--wxt-c-green-2);
  --vp-c-brand-3: var(--wxt-c-green-3);

  --vp-button-brand-bg: var(--wxt-c-green);
  --vp-button-brand-hover-bg: var(--wxt-c-green-2);
  --vp-button-brand-active-bg: var(--wxt-c-green-3);

  --vp-code-link-color: var(--wxt-c-green);

  /* --vp-c-text-1: var(--wxt-c-green-1); */

  --vp-button-brand-text: var(--vp-c-black);
  --vp-button-brand-hover-text: var(--vp-c-black);
  --vp-button-brand-active-text: var(--vp-c-black);

  --vp-custom-block-tip-border: var(--wxt-c-green);
  --vp-custom-block-tip-text: var(--wxt-c-green);

  /* --vp-code-block-bg: #222422;
  --vp-code-copy-code-bg: #313431;
  --vp-code-copy-code-hover-bg: #3c403c; */

  --vp-custom-block-tip-bg: var(--vp-code-block-bg);
  --vp-custom-block-info-bg: var(--vp-code-block-bg);

  --vp-code-color: #476582;
}

.vp-doc a {
  color: var(--wxt-c-green);
}

.dark {
  --vp-c-bg: #131413;

  --vp-c-bg-soft: #1a1b1a;
  --vp-c-bg-soft-up: #1f201f;
  --vp-c-bg-soft-down: #262926;
  --vp-c-bg-soft-mute: #242424;

  --vp-c-bg-alt: #171817;

  --vp-c-default: #313136;
  --vp-c-default-1: #3a3a3c;
  --vp-c-default-2: #505053;
  --vp-c-default-3: #2c2c30;
  --vp-c-default-soft: #252529;

  --vp-code-block-bg: #191a19;
  --vp-code-copy-code-bg: #212321;
  --vp-code-copy-code-hover-bg: #292d29;

  --vp-custom-block-info-bg: #191a19;

  --vp-code-color: #c9def1;
}

.vp-doc .no-vertical-dividers th,
.vp-doc .no-vertical-dividers td {
  border: none;
}

.vp-doc .no-vertical-dividers tr {
  border: 1px solid var(--vp-c-divider);
}

body {
  overflow-y: scroll;
}

.VPSidebar {
  user-select: none;
}

.VPSidebarItem .badge {
  display: inline-block;
  min-width: 1.6em;
  padding: 0.3em 0.4em 0.2em;
  border-radius: 1rem;
  font-size: 0.75em;
  line-height: 1;
  margin-left: 0.5rem;
  text-align: center;
  vertical-align: middle;
  background-color: var(--vp-c-default-2);
}
