/* https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Customize Individual Components */
.vp-doc .no-vertical-dividers {
  th,
  td {
    border: none;
  }

  tr {
    /*noinspection CssUnresolvedCustomProperty*/
    border: 1px solid var(--vp-c-divider);
  }
}

body {
  overflow-y: scroll;
}

.light-netlify {
  display: inline;
}

.dark .light-netlify {
  display: none;
}

.dark-netlify {
  display: none;
}

.dark .dark-netlify {
  display: inline;
}

/* Add Aaron's favorite pic from Artemis II to the hero section because it's cool. */
.dark .VPHome::before {
  content: '';
  background-image: url('../../assets/art002e009298.jpg');
  opacity: 50%;
  position: absolute;
  width: 100vw;
  height: 110vh;
  background-size: cover;
  background-position: 90%;
  pointer-events: none;
}

.dark .VPHome::after {
  content: '';
  position: absolute;
  width: 100vw;
  height: 10vh;
  top: 100vh;
  /*noinspection CssUnresolvedCustomProperty*/
  background: linear-gradient(to bottom, transparent, var(--vp-c-bg));
  pointer-events: none;
}

.item {
  z-index: 1;
}
